.actionsWrapper {
  position: relative;
  width: 100%;
}

.editButton {
  bottom: -20px;
  position: absolute;
  right: 30px;
}

.quickActionsWrapper {
  bottom: -20px;
  display: flex;
  flex-direction: row-reverse;
  position: absolute;
  right: 30px;
}
