@import 'styles/variables';

@mixin stateStyles($background, $icon) {
  background-color: $background;

  svg {
    fill: $icon !important;
  }
}

.button {
  background-color: $neutral-light;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: background-color 0.2s;

  svg {
    transition: fill 0.2s;
    fill: $text-light !important;
  }

  &:hover {
    @include stateStyles($secondary-light, $secondary);
  }

  &:focus {
    @include stateStyles($secondary-light, $secondary-dark);
  }

  &:active {
    @include stateStyles($secondary, $white);
  }
}
