{% load i18n %}{% blocktrans with candidate_url=action_object.get_absolute_url candidate_name=action_object.name job_url=target.job.get_absolute_url job_title=target.job.title %}
<p>An Application Status was updated.</p>
<br/>
<p>Candidate: <a href='{{ base_url }}{{ candidate_url }}'>{{ candidate_name }}</a></p>
<p>Job: <a href='{{ base_url }}{{ job_url }}'>{{ job_title }}</a></p>
<p>Status: <span style="text-decoration: line-through;">{{ old_status }}</span> → {{ status }}</p>
<p>By {{ actor_name }} on {{ datetime }}</p>
{% endblocktrans %}
{% if link %}
<br/><br/><a href='{{ base_url }}{{ link }}'>{{link_text|default:"Link"}}</a>
{% endif %}
