@import 'styles/variables';

.container {
  border-bottom: 1px solid $secondary-light;
  padding: 0;
}

.innerWrapper {
  height: 66px;
}

.navbarContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.navbarRight {
  display: flex;
  align-items: center;
}
