// UI
$primary-light: #e1eef7;
$primary: #1991eb;
$primary-dark: #1780d1;
$primary-darker: #3985bf;

$secondary-light: #e1e8f7;
$secondary: #5283ef;
$secondary-dark: #4772d1;
$secondary-darker: #3963bf;

$success-light: #e1f7f2;
$success: #02c797;
$success-dark: #02b388;
$success-darker: #029f79;

$warning-light: #f7f0e1;
$warning: #f7bf47;
$warning-dark: #deac40;
$warning-darker: #c69939;

$danger-light: #f7e5e1;
$danger: #ec422b;
$danger-dark: #d43b27;
$danger-darker: #bd3522;

// TEXT
$text-normal: #292d45;
$text-light: #66799d;
$text-lighter: #babed3;

// NEUTRALS
$white: #ffffff;
$neutral-lighter: #f7f9fb;
$neutral-light: #f5f6f8;
$neutral: #e4eaf0;
$neutral-dark: #d8dee9;
$neutral-darker: #a6b3be;

// DISABLED
$primary-disabled: #b6b6b6;
$secondary-disabled: #f2f2f2;
