{% extends "admin/auth/user/add_form.html" %}

{% block field_sets %}
    {{ block.super }}
    <div class="form-row">
        <input type="button" id="password_gen" value="Generate Password" />
    </div>
{% endblock %}

{% block admin_change_form_document_ready %}
    {{ block.super }}
    <script type="text/javascript">
        document.getElementById('password_gen').onclick = function() {
            var generated_password = Math.random().toString(36).substring(2, 15) + Math.random().toString(36).substring(2, 15);
            document.getElementById('id_password1').value = generated_password;
            document.getElementById('id_password2').value = generated_password;
        };
    </script>
{% endblock %}
