$bg-color: #ffffff;
$font-color: #292d45;
$label-font-color-disabled: #66799d;
$font-size: 14px;

$placeholder-color: #babed3;

$br-color: #d8dee9;
$br-hover-color: #84909a;
$br-focused-color: #5283ef;
$br-error-color: #ec422b;

$br-radius: 8px;

$hover-background: #e8f5ff;
$options-color: #354053;
