@import 'styles/variables';
@import 'styles/form.module';

.contentWrapper {
  padding: 30px;

  hr {
    margin: 20px 0;
  }
}

.row {
  display: flex;
  width: 50%;

  & > div {
    width: 100%;
  }
}

.buttonBar {
  margin-top: 0;
  border-top: 1px solid $neutral-dark;
}

.criteria {
  display: flex;
  flex-wrap: wrap;

  & > div {
    min-width: 48%;
    max-width: 48%;
    margin-bottom: 20px;

    &:nth-child(odd) {
      margin-right: 4%;
    }
  }

  & ~ hr {
    margin-top: 0;
  }
}

.decision {
  width: 48%;
}
